body {
    background-color: orange;
}

input {
    width: 50%;
    padding: 13px 0px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

#title{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}

#waitingLabel{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
}

#gamePinText{
    text-align: center;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 50px;
}

#label{
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#start{
    background-color: #3A3B3A;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#start:disabled {
    background-color: #3a3b3a3b;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
}

#cancel{
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}